@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(../fonts/materialize.woff2) format('woff2');
}
@font-face {
  font-family: 'jaapokki';
  src: url('../fonts/JAAPOKKI-REGULAR.OTF') format('truetype');
  font-weight:normal;
}
@font-face {
  font-family: 'jaapokki-enchance';
  src: url('../fonts/JAAPOKKIENCHANCE-REGULAR.OTF') format('truetype');
  font-weight:normal;
}
@font-face {
  font-family: 'jaapokki-subtract';
  src: url('../fonts/JAAPOKKISUBTRACT-REGULAR.OTF') format('truetype');
  font-weight:normal;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

body {
  color:#333;
}

header {
  text-align: center;
  margin:0 0 60px 0;
}
.logo {
  text-decoration: none;
  color:#5f5a78;
}
.logo h1 {
  display: inline-block;
  color: blanchedalmond;
  font-size: 1.3em;
}
.lead {
  margin:0;
  color:#888;
}
h1,h2 {
  font-family: 'jaapokki';
  font-size:30px;
  text-transform: uppercase;
  color:#4e9cfe;
  margin:0 0 60px 0;
}
/*
main {
  flex: 1 0 auto;
}*/
.row .col.s3b {
  width: 20%;
  padding:0;
  margin-left: auto;
  left: auto;
  right: auto;
}
.btn, .btn-large,
.btn:hover, .btn-large:hover,
.replay {
  background-color:#4e9cfe;
}
.btn.success, .btn-large.success,
.btn.success:hover, .btn-large.success:hover {
  background-color:#4e9cfe;
}

section {
  height:100vh;
  display:none;
}
section + section {
  padding-top:50px;
}
#upload {
  height:auto;
  display:block;
}
.question {
  display:none;
  padding:80px 0;
}
.question input,
.question label:before,
.question label:after {
  display:none;
}
.question label {
  display:block !important;
  height:auto !important;
  line-height: inherit !important;
  color:#000;
  cursor: pointer;
  padding:0 !important;
  padding:1.2rem !important;
  position: relative;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1); 
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);

}
.img-answer {
  max-width:100%;
  opacity:0.75;
}
.question h4 {
  font-family: 'jaapokki-subtract';
  font-size:19px;
  text-transform: uppercase;
  margin:7px 0 0 0;
}
.question h5 {
  margin:5px 0 0;
  font-size:15px;
  color:#888;
}
.question p {
  font-size:12px;
  line-height: 14px;
}

.question label:hover,
.question input:checked + label{
  /*box-shadow:5px 7px 13px #ccc;*/
    box-shadow: 0px 0px 10px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}
.question label:hover .img-answer,
.question input:checked + label .img-answer {
  opacity: 1;
}
#preview {
  display:none;
}
#preview img {
  max-width: 100%;
}
#action {
  display:none;
}
#submit {
  width:100%;
}
#progress {
  display:none;
  position:fixed;
  top:0;
  width:100%;
}
#progress .progress {
  margin:0;
}

.progress .indeterminate {
  background-color:#5f5a78;
}

#results {
  padding:200px 0 0;
  display:none;
  text-align: center;
  min-height: 100vh;
  /*background:#ffe;*/
  /*overflow-y:scroll;*/
}
#results > div {
  margin:0 auto;
}

footer {
  padding:80px 20px 30px;
  color:#888;
  text-align:center;
}

#punchline{
  margin: 10em 0;
  filter:contrast(2.5);
}

#backChart{
  width:"100%";
  background-image: url(../assets/lucho-41.jpg); 
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */ 
  
  height: 100vh;
}

#index-banner{
  height: 100vh;
}